.main {
  display: flex;
  width: 20vw;
}

.dashboard_sidebar {
  /* width: 20%; */
  width: auto;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
}

.dashboard_sidebar h3 {
  width: 0rem;
  margin-left: 4rem;
}

.btn {
  width: 176px;
  height: 38px;
  color: #474444;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 4rem;
  margin-left: 3rem;
  background: none;
}

.active {
  width: 176px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

.line {
  width: 140px;
  height: 4px;
  flex-shrink: 0;
  stroke-width: 1px;
  background: #000;
  margin-top: 12rem;
  margin-left: 4rem;
}

.logout_btn {
  color: #474444;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 5rem;
  background: none;
  border: none;
}
